/* app css stylesheet */
.app-content{	
}

/* app navigation css stylesheet */
.navig-right{
	float:right !important;
}
.navig-a{
	padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.navig-img{
	width: 50%;
    height: 60px;
}
/* app header css stylesheet */
.page-heading{
	position: relative;
    margin-bottom: 30px;
    padding: 30px 15px;
    text-align: center;
    color: rgba(255,255,255,0.5);
    background-color: darkgray;
    font-size: 1.25rem;
    background-image: url(/images/header-image.jpg);
	background-size: cover;
	height:200px;
}
/* app content css stylesheet */
.content-a{
	width:15%;
	float:left;
	padding-left:6px;
}
.content-b{
	width:85%;
	background-image: url(/images/main.jpg);
	height:600px;
	float:right;
	background-size: cover;
}
/* app footer css stylesheet */
.f-facebook{
	padding-top:3.5%;
	width:33px;
}
.f-twitter{
	padding-top:3.5%;
	width:40px;
}
.footer-app{
	padding-top:2%;
	text-align:center;
}
.footer-social{
	text-align:center;
}